{% extends "auctions/layout.html" %}
{% block title %}
    Category: {{category.name}}
{% endblock %}

{% block body %}
<h2>Category: {{ category }}</h2>

{% if not category_listing %}
    <p>There're no listing in this category</p>
{% else %}
    {% for listing in category_listing %}
        <a href="{% url 'auctions:listings' listing.id %}">
            <img src="{{ listing.image.url }}" style="max-width: 500px; max-height: 300px">
            <h4>{{ listing.name }}</h4>
        </a>    
        <h5>Price: ${{listing.price}}</h5>
        <h6>{{listing.description}}</h6>
        <p>Created {{listing.created_at}}</p>
        <hr>
    {% endfor %}
{% endif %}
{% endblock %}