{% extends "auctions/layout.html" %}

{% block body %}
    <h4>Listing: {{listings.name}}</h4>
    <img src="{{listings.image.url}}" style="max-width: 1000px; max-height: 500px">
    <p>{{listings.description}}</p>
    <p>Listed by {{ listings.created_by }}</p>
    {% if user.is_authenticated %}
        {% if listings in Watchlist %}
            <a href="{% url 'auctions:watchlist' listings.id %}">Remove from watchlist</a>
        {% else %}
            <a href="{% url 'auctions:watchlist' listings.id %}">Add to watchlist</a>
        {% endif %}
    {% endif %}
    <h4>Starting Bid: ${{listings.price}}</h4>
    <h4>Current Bid: ${{maxBidPrice}}</h4>
    {% if listings.close == False %}
        <p>
            {{ bidding_history.count }} bid(s) so far. Your bid is the current bid.
        </p>
        <form action="{% url 'auctions:bidding' listings.id %}" method="POST" style="display: flex;">
            {% csrf_token %}
            <input style="width: 200px; margin-right: 20px" type="number" class="form-control" name="bidding" placeholder="Place your bid here">
            <br>
            <input type="submit" value="Place Bid" class="btn btn-primary">
        </form>
        {% if request.user == listings.created_by %}
        <form action="{% url 'auctions:close' listings.id %}" method="POST">
            {% csrf_token %}
            <input style="margin-top: 10px;" type="submit" value="Close listing" class="btn btn-danger">
        </form>
    {% endif %}
    {% else %}
        <p>This listing is closed</p>
        {% if request.user == winner %}
            <p>You've won this listing</p>
        {% endif %}
    {% endif %}
    <br>
    <br>
    <form action="{% url 'auctions:comment' listings.id %}" method="POST">
        {% csrf_token %}
        <textarea name="comment" class="form-control" cols="200" rows="5" placeholder="Type your comment here"></textarea>
        <br>
        <input type="submit" value="Comment" class="btn btn-primary">
    </form>

    <br>
    {% for comment in commentList %}
        {{ comment }} <br> {{ comment.date }}<br> <br>
    {% endfor %}


{% endblock %}